<footer class="ui-footer">
    <a href="/" class="footer-item">
        <i class="iconfont icon-shouye color-888"></i><div class="font-12 line-hight-15">首页</div>
    </a>
    <a href="https://hztk5.kuaishang.cn/bs/im.htm?cas=71141___538602&fi=80727&ism=1" class="footer-item">
        <i class="iconfont icon-liuyan color-888"></i><div class="font-12 line-hight-15">免费咨询</div>
    </a>
    <a href="tel:4001081000" class="footer-item">
        <i class="iconfont icon-telephone color-888"></i><div class="font-12 line-hight-15">免费通话</div>
    </a>
    <a href="https://www.1000.com/reg?us=Mdinghuo1000" class="footer-item footer-reg">
        免费开通
    </a>
</footer>

<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script>
	$(function(){
	    $('.icon-fenleihover').click(function(){
	        $(".shadow").toggle();
	        $(".navs").toggle();
	    });
	    $(".shadow").click(function(){
	        $(this).hide();
	        $(".navs").hide();
	    });
	});
</script>
