<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>demoPage</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="css/public.css">
  <link rel="stylesheet" href="css/headfoot.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1464923976_855363.css"/>
  
</head>
<body>
  <header class="ui-header ui-header-positive ui-border-b">
      <a href="/" class="logo">
      </a>
      <i class="iconfont icon-fenleihover"></i>
  </header>
  <div class="shadow" style="display: none"></div>
  <ul class="navs" style="display: none">
      <li class="arr"></li>
      <li><a href="/">首页</a></li>
      <li><a href="/products">产品介绍</a></li>
      <li><a href="/cases">客户案例</a></li>
      <li><a href="/about">关于我们</a></li>
  </ul>
