<%- include('./blocks/_header.html') %>
    <section class="ui-container about">
		<section class="banner">
    		<h3>千米企业级服务</h3>
			<p>触发行业进化 共享自建时代</p>
			<a href="https://www.1000.com/reg?us=Mdinghuo1000-about" class="btn-lg">免费试用7天</a>
    	</section>
		<section class="part part-1">
			<div class="part-title">
				<h3>简单做生意 快乐用千米</h3>
				<p class="title-info">
					专注于中小企业电商化升级
				</p>
			</div>
			<div class="part-content">
				<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/27095522maz9.jpg" alt="">
				<p class="content-info">千米网作为国家高新技术企业，成立于2013年，是专业的电商系统及服务提供商，专注于为中小企业提供电商化运营之道。</p>
			</div>
		</section>
		<section class="part part-2">
			<div class="part-title part-title-white">
				<h3>简企业历程</h3>
			</div>
			<div class="part-content">
				<div class="content-item"></div>
				<div class="content-item content-item-spe1">
					<h3 class="item-title"><span>2017</span>.01.01</h3>
					<p>斑马电商云独立</p>
					<p>万米电商云独立</p>
				</div>
				<div class="content-item content-item-spe2">
					<h3 class="item-title"><span>2016</span>.11.08</h3>
					<p>B轮融资一个亿</p>
				</div>
				<div class="content-item"></div>
				<div class="content-item"></div>
				<div class="content-item">
					<h3 class="item-title"><span>2015</span>.12.31</h3>
					<p>企业客户100000+家</p>
				</div>
				<div class="content-item">
					<h3 class="item-title"><span>2014</span>.06.25</h3>
					<p>中国首届本地生活电商大会</p>
				</div>
				<div class="content-item"></div>
				<div class="content-item"></div>
				<div class="content-item">
					<h3 class="item-title"><span>2014</span>.06.06</h3>
					<p>A轮融资5000万元</p>
				</div>
				<div class="content-item">
					<h3 class="item-title"><span>2013</span>.10.31</h3>
					<p>千米网成立</p>
				</div>
				<div class="content-item"></div>
			</div>
		</section>
		<section class="part part-3">
			<div class="part-title">
				<h3>企业荣誉</h3>
			</div>
			<div class="part-content">
				<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/27102248zhcc.jpg" alt="">
				<p class="content-info fw700">2017江苏省孕婴童用品协会副会长单位</p>
				<p>2016年度ESIC最受企业关注服务商</p>
				<p>2016年度中国B2B行业推荐合作伙伴</p>
				<p>2016思路电商服务商新锐</p>
				<p class="fw700">2016IEBE最靠谱的互联网+服务机构</p>
				<p>2016杰出新零售系统服务商</p>
				<p class="fw700">2015年度杰出电商系统/订单管理服务商</p>
				<p class="fw700">2015年度中国B2B行业最具潜力企业</p>
				<p class="fw700">2015年度江苏省互联网十大新锐企业</p>
				<p>2014-2015年度优秀连锁服务商</p>
				<p>2014年度江苏十佳互联网创新企业</p>
				<p>2014年度最具成长性企业奖</p>
				<p>2014年度杰出电商系统服务奖</p>
				<p>2013年度电子商务行业最佳创新模式</p>
			</div>
		</section>
		<section class="part part-4">
			<div class="part-title part-title-white">
				<h3>触发行业进化 共享自建时代</h3>
				<p class="title-info">
					加速千万家中国中小企业升级进化
				</p>
			</div>
			<div class="part-content">
				<p>千米帮助中小企业完成电商化升级，让具有雄心和梦想的企业家们轻松地进入自建时代，而不是在互联网的大浪中默默地死去。</p>
				<p>这是我们的使命，无论是现在还是将来千米肩负着这个使命。</p>
			</div>
		</section>
		<section class="part part-5">
			<div class="part-title">
				<h3>千米价值观</h3>
				<p class="title-info">
					产品使用简单 客户成功第一
				</p>
			</div>
			<div class="part-content">
				<div class="content-item">
					<div class="info-img">
						<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/27105441rt0i.jpg" alt="">
					</div>
					<div class="item-info">
						<h4>客户的成功第一</h4>
						<p>Client’s Success First</p>
					</div>
				</div>
				<div class="content-item">
					<div class="info-img">
						<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/27110305ze55.jpg" alt="">
					</div>
					<div class="item-info">
						<h4>以奋斗者为本</h4>
						<p>Struggler oriented</p>
					</div>
				</div>
				<div class="content-item">
					<div class="info-img">
						<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/271103172zxe.jpg" alt="">
					</div>
					<div class="item-info">
						<h4>简单至上</h4>
						<p>Simple</p>
					</div>
				</div>
			</div>
		</section>
		<section class="part part-6">
			<div class="part-title">
				<h3>千米大事记</h3>
				<p class="title-info">
					和你一起，把握时代脉搏
				</p>
			</div>
			<div class="part-content">
				<a href="https://mp.weixin.qq.com/s/KpqexOJMBdycztjiwqQ9fw"><img src="http://web-img.qmimg.com/qianmicom/u/cms/qmwww2/201705/08143640nty5.jpg" alt=""></a>
				<div class="content-item">
					<a href="https://mp.weixin.qq.com/s/c6l36QH9kimviE3IY2mOOg" class="_text">【BOSS说】以新分销新零售方式打开传统产业的创新之路</a>
					<a href="https://mp.weixin.qq.com/s/2fAMxp0LH-pUGKP9YZTU-Q" class="_text">【行业峰会】千米网领航中小企业互联网推广高效时代</a>
					<a href="https://mp.weixin.qq.com/s/b9B5SdWmorMgL0HZ3rxiGA" class="_text">&nbsp;&nbsp;年终 | 2016我们搞了哪些大事情</a>
					<a href="https://mp.weixin.qq.com/s/XLHfiZFpUWpTDKbsGuy9xw" class="_text">&nbsp;&nbsp;新分销新零售新征程，千米亮相IEBE</a>
					<a href="https://mp.weixin.qq.com/s/D992zkOWT6wP9XKHanTjUw" class="_text">&nbsp;&nbsp;石正川：我做的这件事不仅赚钱，而且利国利民</a>
					<a href="https://mp.weixin.qq.com/s/0wN3r3222_-id7bLJ6MFaA" class="_text">【干货时间】 一家互联网企业如何在8天内帮助
400余家传统企业进行升级转型</a>	
				</div>	
			</div>		
		</section>
	</section>
<%- include('./blocks/_footer.html') %>


</body>
</html>