<%- include('./blocks/_header.html') %>
    <section class="ui-container index">
    	<section class="banner">
    		<h3>千米云订货系统</h3>
			<p>面向传统厂商、品牌商、经销商、批发商</p>
			<p>传统批发+互联网=业绩提升<span class="cmain">50%</span></p>
			<a href="https://www.1000.com/reg?us=Mdinghuo1000" class="btn-lg">免费试用7天</a>
    	</section>
    	<section class='part part-1'>
	    	<h3>为什么选择云订货</h3>
	    	<p class="title-info">关注企业效率，为企业经营赋能</p>
	        <ul class="part-content">
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/26114857oubu.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">多角色经营面板</p>
	                    <p>让你更精明决策</p>
	                    <p>让员工更精明地工作</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/261149188vmj.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">内置CRM</p>
	                    <p>客户深度经营</p>
	                    <p>高效互动，精准营销</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/26114929nulu.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">内置进销存</p>
	                    <p>更轻便更快的ERP</p>
	                    <p>无需对接，宛若天生</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/qmwww2/201707/26114940pant.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">内置品牌官网</p>
	                    <p>再小的企业</p>
	                    <p>都需要有品牌 独立域名</p>
	                </div>
	            </li>
	        </ul>
    	</section>
    	<section class='part part-2'>
	    	<h3>8大核心功能</h3>
	    	<p class="title-info">用互联网工具 打造专属B2B批发订货平台</p>
	        <ul class="part-content">
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153057wgvh.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">智能建站</p>
	                    <p>一键导入商品、多套模版可套用，让建站更简单一点</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153212t3cg.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">数据分析</p>
	                    <p>在这个很多人拍脑袋的时代，我们教你数据取胜之道</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153232ba9v.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">库存预警</p>
	                    <p>系统提醒及时补货，系统指挥保质期近的先出库</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153252mdjz.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">分工协作</p>
	                    <p>多角色工作面版，员工工作更精细,多维度数据分析，员工工作有章法可循</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/261533100rjk.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">营销活动</p>
	                    <p>赠品、满减、电子优惠券、返积分、限购,定时给客户推送促销信息，让客户依赖你</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153319ld7c.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">客户管理</p>
	                    <p>关注客户动态，提前分析销售机会，与客户长期保持联系</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153330n2m3.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">订单监管</p>
	                    <p>移动端订单信息实时跟踪，用系统和错单、漏单、拖单说再见</p>
	                </div>
	            </li>
	            <li class="content-item">
	            	<div class="content-img">
	                	<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26153356ie4n.png" alt="">
	                </div>
	                <div class="content-text">
	                    <p class="title">业务员管理</p>
	                    <p>系统实时管理业务员业绩，客户分析系统让业务员工作快捷高效</p>
	                </div>
	            </li>
	        </ul>
    	</section>
    	<section class="part part-3">
            <h3>他们为云订货代言</h3>
	    	<p class="title-info">用互联网工具 实现传统电商升级</p>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/10180123vvgi.jpg" alt="">
                        <p class="title">考拉直供</p>
                        <p>考拉直供选择了云订货以后：</p>
                        <p>员工工作效率翻倍，业绩提升50%</p>
                        <a href="http://m.qianmi.com/xfx/cases" class="btn-md">查看详情</a>
                    </div>
                    <div class="swiper-slide">
                        <img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/10182533sjpv.jpg" alt="">
                        <p class="title">麦团团</p>
                        <p>麦团团选择了云订货以后：</p>
                        <p>老客户复购率达到80%，每月固定增加客户</p>
                        <p>200余家</p>
                        <a href="http://m.qianmi.com/xfx/cases" class="btn-md btn2">查看详情</a>
                    </div>
                    <div class="swiper-slide">
                        <img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/10182546opk0.jpg" alt="">
                        <p class="title">上海清美食品</p>
                        <p>清美食品选择了云订货以后：</p>
                        <p>55%客户选择线上自主采购，上线后客户</p>
                        <p>满意度提升15%</p>
                        <a href="http://m.qianmi.com/xfx/cases/article1" class="btn-md btn2">查看详情</a>
                    </div>
                    <div class="swiper-slide">
                        <img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/10182604smje.jpg" alt="">
                        <p class="title">郑州和优电子商务有限公司</p>
                        <p>和优选择了云订货以后：</p>
                        <p>3个月发展新客户460家，55%的订单来自线</p>
                        <p>上忠实会员</p>
                        <a href="http://m.qianmi.com/xfx/cases/article2" class="btn-md btn2">查看详情</a>
                    </div>
                </div> 
            </div>
        </section>
    </section>
    
<%- include('./blocks/_footer.html') %>

<script src="js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView : 'auto',
    })
</script>

</body>
</html>