<%- include('./blocks/_header.html') %>
    <section class="ui-container products">
    	<section class="banner">
    		<h3>场景+角色 把握核心客户</h3>
			<p>不仅关注效率 更为企业经营赋能</p>
			<a href="https://www.1000.com/reg?us=Mdinghuo1000-products" class="btn-lg">免费试用7天</a>
    	</section>
		<section class="part part-dark">
			<div class="content">
				<h3>新品传递准确及时</h3>
				<div class="content-top">
					<h4 class="top-title">千米云订货</h4>
					<p class="top-info">
						网上下单，商品图片、价格、折扣一目了然，订单物流信息实时跟踪
					</p>
				</div>
				<div class="content-bottom">
					<h4 class="top-title">传统订货</h4>
					<p class="top-info">
						新品上新、产品推广，业务员口头描述，记不准确商品详情
					</p>
				</div>
			</div>	
			<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/261635426hy9.png" class="part-img part-img-1" alt="">
		</section>
		<section class="part part-light part-light-1">
			<div class="content">
				<h3>财务对账清晰</h3>
				<div class="content-top">
					<h4 class="top-title">千米云订货</h4>
					<p class="top-info">
						云订货APP自主下单，会计后台审核对账，账目清晰有凭据
					</p>
				</div>
				<div class="content-bottom">
					<h4 class="top-title">传统订货</h4>
					<p class="top-info">
						会计、客户人手一份订单，月底核算常常不清不楚，老客户核账得过且过
					</p>
				</div>
			</div>	
			<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26170144zz7e.png" class="part-img part-img-1" alt="">
		</section>
		<section class="part part-dark">
			<div class="content">
				<h3>客户联系密切</h3>
				<div class="content-top">
					<h4 class="top-title">千米云订货</h4>
					<p class="top-info">
						实时关注客户动态，提前分析销售机会，与客户长期保持联系
					</p>
				</div>
				<div class="content-bottom">
					<h4 class="top-title">传统订货</h4>
					<p class="top-info">
						与客户的链接只是简单的供货关系，客户经常被竞品打劫
					</p>
				</div>
			</div>	
			<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26170420rhxp.png" class="part-img part-img-2" alt="">
		</section>
		<section class="part part-light part-light-2">
			<div class="content">
				<h3>营销玩法多样</h3>
				<div class="content-top">
					<h4 class="top-title">千米云订货</h4>
					<p class="top-info">
						送赠、满减、电子优惠券、返积分、限购……玩法多样，一键设置，效果实时监控
					</p>
				</div>
				<div class="content-bottom">
					<h4 class="top-title">传统订货</h4>
					<p class="top-info">
						厂家降价活动，业务员口头电话通知，漏失关键客户、报错活动价格……时有发生
					</p>
				</div>
			</div>	
			<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26170809xqge.png" class="part-img part-img-3" alt="">
		</section>
		<section class="part part-dark">
			<div class="content">
				<h3>订单流程实时跟踪</h3>
				<div class="content-top">
					<h4 class="top-title">千米云订货</h4>
					<p class="top-info">
						系统实时提醒待处理订单，手机全程跟踪订单流转信息，降低订单错误率
					</p>
				</div>
				<div class="content-bottom">
					<h4 class="top-title">传统订货</h4>
					<p class="top-info">
						待处理订单繁多，每天催货电话不断，订单信息无法监控
					</p>
				</div>
			</div>	
			<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26170836amno.png" class="part-img part-img-4" alt="">
		</section>
		<section class="part part-light part-light-3">
			<div class="content">
				<h3>货品库存智能管理</h3>
				<div class="content-top">
					<h4 class="top-title">千米云订货</h4>
					<p class="top-info">
						智能补货提醒、滞销预警、商品批次管理，库存管理精细化
					</p>
				</div>
				<div class="content-bottom">
					<h4 class="top-title">传统订货</h4>
					<p class="top-info">
						仓库货品堆砌凌乱，商品盘点难度大，过期商品检测难
					</p>
				</div>
			</div>	
			<img src="//web-img.qmimg.com/qianmicom/u/cms/mqianmi2/201707/26170849uxvg.png" class="part-img part-img-5" alt="">
		</section>
	</section>
<%- include('./blocks/_footer.html') %>


</body>
</html>