 <header class="header">
	 <div class="margin clear">
	 	<a href="http://www.dinghuo1000.cn/" class="l">
	  		<img src="../img/logo_black.png" alt="">
	  	</a>
	  	<div class="clear r">
	  		<ul class="l nav clear">
		  		<li class="active"><a href="http://www.dinghuo1000.cn/" target="_blank">首页</a></li>
		  		<li><a href="/products" target="_blank">产品介绍</a></li>
		  		<li><a href="/cases" target="_blank">客户案例</a></li>
		  		<li><a href="/about" target="_blank">关于我们</a></li>
		  	</ul>
		  	<div class="log-reg r">
		  		<a href="https://www.1000.com/" target="_blank">登录</a>
				<span>|</span>
				<a href="https://www.1000.com/reg?us=dinghuo1000-head" target="_blank">注册</a>	
		  	</div>
	  	</div> 	
	 </div>
 </header>
