<%- include('./blocks/_headlink.html') %>
<body class="cases">
<%- include('./blocks/_headnav.html') %>
    <section class="banner-box">
      <div class="banner-wrap">
        <div class="banner-content">
          <p>千米云订货系统</p>
          <p>帮助传统分销商实现电商升级</p>
          <a href="https://www.1000.com/reg?us=dinghuo1000-cases" target="_blank" class="btn_md">免费试用7天</a>
        </div>
      </div>
    </section>
    <section class="margin main">
    	<section class="cases-part">
	    	<h3>精彩案例</h3>
	    	<ul class="part-info1">
	    		<li>
	    			<img src="../img/cases_05.jpg" alt="">
	    			<div class="cases-info">
	    				<h4>上海清美食品</h4>
	    				<p class="sec-title">清美食品选择了云订货以后：55%客户选择线上自主采购，上线后客户满意度提升15%</p>
	    				<p>使用“按照会员等级设价”功能，为清美不同的渠道设置相应的会员等级，针对不同会员等级设置等级折扣。对于单个食品，最终销售价格可以在会员等级折扣的基础上进行自由调节，解决了清美在单品和渠道两个维度的商品定价问题。</p>
	    				<div>
	    					<a href="/case2" target="_blank" class="btn_sm">查看详情</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li>
	    			<img src="../img/cases_07.jpg" alt="">
	    			<div class="cases-info">
	    				<h4>郑州和优电子商务有限公司</h4>
	    				<p class="sec-title">和优选择了云订货以后：3个月发展新客户460家，55%的订单来自线上忠实会员</p>
	    				<p>为客户提供了标准的在线下单平台，丰富的可视化建站为摄影器材进行图文展示，两百多家门店直接利用云订货进行采购下单，通过在线支付或货到付款方式进行结算，做到订单、款项一一对应，避免了人为失误给企业造成的损失。</p>
	    				<div>
	    					<a href="/case5" target="_blank" class="btn_sm">查看详情</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li>
	    			<img src="../img/cases_11.jpg" alt="">
	    			<div class="cases-info">
	    				<h4>麦团团</h4>
	    				<p class="sec-title">麦团团选择了云订货以后：老客户复购率达到80%，每月固定增加客户200余家</p>
	    				<p>引导顾客通过定制App下单，通过设置时间标准、规范顾客的下单时间，使其与物流车配送时间一致，从而减少物流的运输成本。通过设置购物赠送积分、满减等活动吸引新客户顾客注册下单，增加销量。订单比以往要规范很多，接单效率也得到了提升。</p>
	    				<div>
	    					<a href="/case2" target="_blank" class="btn_sm">查看详情</a>
	    				</div>
	    			</div>
	    		</li>
	    		<li>
	    			<img src="../img/cases_13.jpg" alt="">
	    			<div class="cases-info">
	    				<h4>考拉直供</h4>
	    				<p class="sec-title">考拉直供选择了云订货以后：员工工作效率翻倍，业绩提升50%</p>
	    				<p>实时了解业务员拜访客户情况、随时查看业务员业绩，将客户信息掌握在自己手中。运营人员根据后台数据分析网点订货习惯，合理备货、定期补货。配送人员依据系统订单选择最优配送路线来节省时间，提升网点订货体验。</p>
	    				<div>
	    					<a href="/case2" target="_blank" class="btn_sm">查看详情</a>
	    				</div>
	    			</div>
	    		</li>
	    	</ul>
	    </section>
	    <section class="cases-part">
	    	<h3 class="spe">云订货已经服务过这些行业</h3>
	    	<ul class="part-info2">
	    		<li>
	    			<a href="/case1"><img src="../img/cases_18.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case2"><img src="../img/cases_21.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case3"><img src="../img/cases_23.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case4"><img src="../img/cases_26.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case5"><img src="../img/cases_32.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case6"><img src="../img/cases_33.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case7"><img src="../img/cases_34.jpg" alt=""></a>
	    		</li>
	    		<li>
	    			<a href="/case8"><img src="../img/cases_35.jpg" alt=""></a>
	    		</li>
	    	</ul>
	    </section>
	    <section class="cases-part">
	    	<h3>更多案例</h3>
	    	<ul class="part-info3-nav">
	    		<li class="info-nav-item on">食品百货</li>
	    		<li class="info-nav-item">母婴用品</li>
	    		<li class="info-nav-item">农资农产</li>
	    		<li class="info-nav-item">家具建材</li>
	    		<li class="info-nav-item">服装饰品</li>
	    		<li class="info-nav-item">3C数码</li>
	    		<li class="info-nav-item">医疗保健</li>
	    		<li class="info-nav-item">五金行业</li>
	    		<li class="info-nav-item">个户化妆</li>
	    	</ul>
	    	<ul class="part-info3-con">
	    		<li class="on"><img src="../img/cases1_22.jpg" alt=""></li>
	    		<li><img src="../img/cases2_22.jpg" alt=""></li>
	    		<li><img src="../img/cases3_22.jpg" alt=""></li>
	    		<li><img src="../img/cases4_22.jpg" alt=""></li>
	    		<li><img src="../img/cases5_22.jpg" alt=""></li>
	    		<li><img src="../img/cases6_22.jpg" alt=""></li>
	    		<li><img src="../img/cases7_22.jpg" alt=""></li>
	    		<li><img src="../img/cases8_22.jpg" alt=""></li>
	    		<li><img src="../img/cases9_22.jpg" alt=""></li>
	    	</ul>
	    </section>
    </section>
    
<%- include('./blocks/_footer.html') %>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>
	$('.cases .info-nav-item').hover(function(){
		$(this).addClass('on').siblings().removeClass('on');
		$('.part-info3-con li').eq( $(this).index()).addClass('on').siblings().removeClass('on');
	});
</script>