<%- include('./blocks/_headlink.html') %>
<body class="figure">
<%- include('./blocks/_headnav.html') %>
	<ul class="sec-nav margin">
    	<li class="on"><a href="/figure1">老板</a></li>
    	<li><a href="/figure2">运营</a></li>
    	<li><a href="/figure3">订单及客服</a></li>
    	<li><a href="/figure4">客户经理</a></li>
    	<li><a href="/figure5">客户总监</a></li>
    	<li><a href="/figure6">采购</a></li>
    	<li><a href="/figure7">仓管</a></li>
    	<li><a href="/figure8">会计</a></li>
    </ul>
    <section class="main margin">
        <section class="figure-banner">
        	<div class="banner-content banner-content-1">
        		<h3>老板</h3>
        		<p>掌握企业经营概况，商品动销及会员新增趋势</p>
        		<p>科学化管理电商团队</p>
        	</div>
        </section>
        <section class="figure-content">
        	<img src="../img/arrow.png" alt="" class="arrow arrow1">
        	<img src="../img/arrow.png" alt="" class="arrow arrow2">
        	<img src="../img/arrow.png" alt="" class="arrow arrow3">
        	<ul>
        		<li>
        			<img src="../img/figure1_07.jpg" alt="">
        			<h4>困扰:</h4>
        			<p>生意不好，想找到具体原因提高</p>
					<p>能分析的数据还少，无处下手</p>
        		</li>
        		<li>
        			<img src="../img/figure1_09.jpg" alt="">
        			<h4>用千米:</h4>
        			<p>交易分析、商品分析、会员分析…</p>
					<p>专业电商数据分析维度</p>
					<p>知己知彼，百战不殆！</p>
        		</li>
        		<li>
        			<img src="../img/figure1_14.jpg" alt="">
        			<h4>困扰:</h4>
        			<p>生意越做越大，员工工作却经常</p>
					<p>相互推诿想要追责才发现</p>
					<p>没有进行明确的分工</p>
        		</li>
        		<li>
        			<img src="../img/figure1_16.jpg" alt="">
        			<h4>用千米:</h4>
        			<p>按照电商团队标准分配4个角色</p>
        			<p>角色灵活、各司其职</p>
        			<p>西天取经，手到擒来！</p>
        		</li>
        		<li>
        			<img src="../img/figure1_20.jpg" alt="">
        			<h4>困扰:</h4>
        			<p>书中自有黄金屋、读万卷书不如行万里路</p>
        			<p>想要获得行业最新咨询消息</p>
        			<p>问题是要看什么样的书、走哪条路</p>
        		</li>
        		<li>
        			<img src="../img/figure1_22.jpg" alt="">
        			<h4>用千米:</h4>
        			<p>定期组织活动与同行探讨运营经验</p>
        			<p>随时获取企业运营资讯</p>
        			<p>师傅找对人，修行不愁人！</p>
        		</li>
        	</ul>
        </section>
        <section class="main-job"> 
        	<h3>老板主要工作</h3>
        	<img src="../img/figure1_30.png" alt="">
        </section>
    </section>
<%- include('./blocks/_footer.html') %>
<script>

</script>