<%- include('./blocks/_headlink.html') %>
<body class="home">
	<header class="header">
	 <div class="margin clear">
	 	<a href="http://www.dinghuo1000.cn/" class="l">
	  		<img src="../img/logo_white.png" alt="">
	  	</a>
	  	<div class="clear r">
		  	<ul class="l nav clear">
		  		<li class="active"><a href="http://www.dinghuo1000.cn/" target="_blank">首页</a></li>
		  		<li><a href="/products" target="_blank">产品介绍</a></li>
		  		<li><a href="/cases" target="_blank">客户案例</a></li>
		  		<li><a href="/about" target="_blank">关于我们</a></li>
		  	</ul>
		  	<div class="log-reg r">
		  		<a href="https://www.1000.com/" target="_blank">登录</a>
				<span>|</span>
				<a href="https://www.1000.com/reg?us=dinghuo1000-head" target="_blank">注册</a>	
		  	</div>
		</div>
	 </div>
	</header>

    <section class="banner-box">
      <div class="banner-wrap">
        <div class="banner-content">
          <h1>千米云订货系统</h1>
          <p>面向传统厂商、品牌商、经销商、批发商</p>
          <p class="spe">传统批发+互联网=业绩提升<span class="cmain">50%</span></p>
          <a href="https://www.1000.com/reg?us=dinghuo1000" target="_blank" class="btn_md">免费试用7天</a>
        </div>
      </div>
    </section>
	<section class="part part1 pt100">
		<h3 class="part-title">云订货--面向直接给终端供货的分销商、品牌商，打造专属B2B运营平台</h3>
		<p class="part-info">从现在开始 不做“传统”分销商</p>
		<div class="part-content margin clear">
			<div class="l l-pic">
				<img src="../img/home_09.png" alt="">
			</div>
			<ul class="l r-content">
				<li>
					<img src="../img/home_12.png" alt="">
					<div>
						<h4>多角色经营面板</h4>
						<p>让你更精明决策</p>
						<p>让员工更精明地工作</p>
					</div>
				</li>
				<li>
					<img src="../img/home_15.png" alt="">
					<div>
						<h4>内置CRM</h4>
						<p>客户深度经营</p>
						<p>高效互动，精准营销</p>
					</div>
				</li>
				<li>
					<img src="../img/home_17.png" alt="">
					<div>
						<h4>内置进销存</h4>
						<p>更轻便更快的ERP</p>
						<p>无需对接，宛若天生</p>
					</div>
				</li>
				<li>
					<img src="../img/home_19.png" alt="">
					<div>
						<h4>内置品牌官网</h4>
						<p>再小的企业</p>
						<p>都需要有品牌 独立域名</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="part part2 pb100">
		<div class="swiper-container part2-swiper" style="overflow: visible;">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../img/home_30.jpg" alt="">
					<h4>老板</h4>
					<p>掌握企业经营概况、商品</p>
					<p>动销及重点客户动态，科学管理员工。</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_31.jpg" alt="">
					<h4>运营</h4>
					<p>维护商品详情资料，负责</p>
					<p>建站及营销活动，制定电商运营策略。</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_32.jpg" alt="">
					<h4>订单及客服</h4>
					<p>跟踪处理每日订单，保持</p>
					<p>与客户间联系审核销售单、退货单信息</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_33.jpg" alt="">
					<h4>客户经理</h4>
					<p>维护客户资料与客情关系，针对客户</p>
					<p>消费情况精准制定营销策略，快速成单</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_34.jpg" alt="">
					<h4>客户总监</h4>
					<p>掌握客户资料，管理销售团队</p>
					<p>制定科学的销售目标，实时监控销售业绩</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_35.jpg" alt="">
					<h4>采购</h4>
					<p>负责企业的采购协同工作</p>
					<p>具体包括缺货商采购、库存水平控制和供应商资料维护</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_36.jpg" alt="">
					<h4>仓管</h4>
					<p>负责处理每日出入库单，完成出库、入库作业</p>
					<p>定期进行库存盘点、商品移位，确保账实相符</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
				<div class="swiper-slide">
					<img src="../img/home_37.jpg" alt="">
					<h4>会计</h4>
					<p>负责客户资金加减款与积分、客户收款</p>
					<p>及对账，管理客户发票</p>
					<a href="/detail" target="_blank" class="btn_sm">查看详情</a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	<section class="part part3 pt100">
		<h3 class="part-title">他们为云订货代言</h3>
		<ul class="margin">
			<li>
				<img src="../img/home_23.jpg" alt="">
				<h4>上海清美食品</h4>
				<p>清美食品选择了云订货以后：</p>
				<p>55%客户选择线上自主采购，上线后客户满意度提升15%</p>
			</li>
			<li>
				<img src="../img/home_25.jpg" alt="">
				<h4>麦团团</h4>
				<p>麦团团选择了云订货以后：</p>
				<p>老客户复购率达到80%，每月固定增加客户200余家</p>
			</li>
			<li>
				<img src="../img/home_27.jpg" alt="">
				<h4>郑州和优电子商务有限公司</h4>
				<p>和优选择了云订货以后：</p>
				<p>3个月发展新客户460家，55%的订单来自线上忠实会员</p>
			</li>
			<li>
				<img src="../img/home_29.jpg" alt="">
				<h4>考拉直供</h4>
				<p>考拉直供选择了云订货以后：</p>
				<p>员工工作效率翻倍，业绩提升50%</p>
			</li>
		</ul>
		<div class="m_auto pt70 pb100 tcenter">
			<a href="/cases" target="_blank" class="btn_md">查看更多案例</a>
		</div>
	</section>
<%- include('./blocks/_footer.html') %>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script>
    var content = ['老板','运营','订单及客服','客户经理','客户总监','采购','仓管','会计'];
    	
	var mySwiper6 = new Swiper('.part2-swiper', {
		autoplay: false,
		loop: true,
		centeredSlides : true,
		slidesPerView : 'auto',
		pagination: '.swiper-pagination',
		paginationClickable :true,
		simulateTouch : false,
		paginationBulletRender: function (swiper, index, className) {
            return '<span class="' + className + '">' + content[index] + '</span>';
        }

	})
</script>

</body>
</html>