<%- include('./blocks/_headlink.html') %>
<body class="products">
<%- include('./blocks/_headnav.html') %>
	<section class="banner-box">
	  <div class="banner-wrap">
	    <div class="banner-content">
	      <h1>场景+角色&nbsp;&nbsp;把握核心客户</h1>
	      <p>不仅关注效率&nbsp;&nbsp;更为企业经营赋能</p>
	      <a href="https://www.1000.com/reg?us=dinghuo1000-products" target="_blank" class="btn_md">免费试用7天</a>
	    </div>
	  </div>
	</section>
	<section class="change-title margin">
		<div class="change-item on"><p>产品优势</p></div>
		<div class="change-item"><p>产品功能</p></div>
	</section>
	<section class="change-content change-content1">
		<div class="con-title">
			告别“内忧外患”，不做“传统”分销商
		</div>
		<div class="con-part con-part1">
			<div class="margin">
				<div class="con-item con-pic con-l">
				</div>
				<div class="con-item con-txt con-r">
					<h3>新品传递准确及时</h3>
					<h4 class="top">千米云订货</h4>
					<p>网上下单，商品图片、价格、折扣一目了然，订单物流</p>
					<p>信息实时跟踪</p>
					<h4 class="bottom">传统订货</h4>
					<p>新品上新、产品推广，业务员口头描述，记不准确商品</p>
					<p>详情</p>
				</div>
			</div>
		</div>
		<div class="con-part con-part2">
			<div class="margin">
				<div class="con-item con-txt con-l">
					<div class="r">
						<h3>财务对账清晰</h3>
						<h4 class="top">千米云订货</h4>
						<p>云订货APP自主下单，会计后台审核对账，账目清晰有</p>
						<p>凭据</p>
						<h4 class="bottom">传统订货</h4>
						<p>会计、客户人手一份订单，月底核算常常不清不楚，老客</p>
						<p>户核账得过且过</p>
					</div>
				</div>
				<div class="con-item con-pic con-r">
				</div>
			</div>
		</div>
		<div class="con-part con-part3">
			<div class="margin">
				<div class="con-item con-pic con-l">
				</div>
				<div class="con-item con-txt con-r">
					<h3>客户联系密切</h3>
					<h4 class="top">千米云订货</h4>
					<p>实时关注客户动态，提前分析销售机会，与客户长期保</p>
					<p>持联系</p>
					<h4 class="bottom">传统订货</h4>
					<p>与客户的链接只是简单的供货关系，客户经常被竞品打</p>
					<p>劫</p>
				</div>
			</div>
		</div>
		<div class="con-part con-part4">
			<div class="margin">
				<div class="con-item con-txt con-l">
					<div class="r">
						<h3>营销玩法多样</h3>
						<h4 class="top">千米云订货</h4>
						<p>送赠、满减、电子优惠券、返积分、限购……玩法多样，</p>
						<p>一键设置，效果实时监控</p>
						<h4 class="bottom">传统订货</h4>
						<p>厂家降价活动，业务员口头电话通知，漏失关键客户、</p>
						<p>报错活动价格……时有发生</p>
					</div>
				</div>
				<div class="con-item con-pic con-r">
				</div>
			</div>
		</div>
		<div class="con-part con-part5">
			<div class="margin">
				<div class="con-item con-pic con-l">
				</div>
				<div class="con-item con-txt con-r">
					<h3>订单流程实时跟踪</h3>
					<h4 class="top">千米云订货</h4>
					<p>系统实时提醒待处理订单，手机全程跟踪订单流转信</p>
					<p>息，降低订单错误率</p>
					<h4 class="bottom">传统订货</h4>
					<p>待处理订单繁多，每天催货电话不断，订单信息无法</p>
					<p>监控</p>
				</div>
			</div>
		</div>
		<div class="con-part con-part6">
			<div class="margin">
				<div class="con-item con-txt con-l">
					<div class="r">
						<h3>货品库存智能管理</h3>
						<h4 class="top">千米云订货</h4>
						<p>智能补货提醒、滞销预警、商品批次管理，库存管理精</p>
						<p>细化</p>
						<h4 class="bottom">传统订货</h4>
						<p>仓库货品堆砌凌乱，商品盘点难度大，过期商品检测</p>
						<p>难</p>
					</div>
				</div>
				<div class="con-item con-pic con-r">
				</div>
			</div>
		</div>
	</section>
	<section class="change-content change-content2">
		<div class="con-title">
			8大核心功能   打造专属B2B批发订货平台
		</div>
		<ul class="con-function margin">
			<li class="function-item">
				<img src="../img/function_03.png" alt="">
				<div class="function-info">
					<h4>智能建站</h4>
					<p>一键导入商品、多套模版可套用，</p>
					<p>让建站更简单一点。</p>
				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_05.png" alt="">
				<div class="function-info">
					<h4>营销活动</h4>
					<p>赠品、满减、电子优惠券、返积</p>
					<p>分、限购,定时给客户推送促销信息，</p>
					<p>让客户依赖你。</p>
				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_09.png" alt="">
				<div class="function-info">
					<h4>数据分析</h4>
					<p>销售数据、商品数据、客户数据，</p>
					<p>在这个很多人拍脑袋的时代，</p>
					<p>我们教你数据取胜之道。</p>
				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_10.png" alt="">
				<div class="function-info">
					<h4>客户管理</h4>
					<p>第一步，将客户和业务员绑定；</p>
					<p>第二步，给客户制定类别等级；</p>
					<p>第三步，用等级折扣抓住客户。</p>
				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_13.png" alt="">
				<div class="function-info">
					<h4>库存预警</h4>
					<p>库存数量、保质期，一切数据都</p>
					<p>放在系统里，系统提醒你补货，</p>
					<p>系统指挥你保质期近的先出库。</p>
				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_14.png" alt="">
				<div class="function-info">
					<h4>订单监管</h4>
					<p>移动端订单信息实时跟踪，用系</p>
					<p>统和错单、漏单、拖单说再见</p>

				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_17.png" alt="">
				<div class="function-info">
					<h4>分工协作</h4>
					<p>多角色工作面版，指导员工更精细</p>
					<p>地工作，多维度数据分析，指导员</p>
					<p>工更有章法地开展工作</p>
				</div>
			</li>
			<li class="function-item">
				<img src="../img/function_18.png" alt="">
				<div class="function-info">
					<h4>业务员管理</h4>
					<p>工更有章法地开展工作客户分析系</p>
					<p>统让业务员工作快捷高效</p>
				</div>
			</li>
		</ul>
	</section>
<%- include('./blocks/_footer.html') %>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>
	$('.products .change-item').click(function(){
		$(this).addClass('on').siblings().removeClass('on');
		$('.change-content').eq( $(this).index()).show().siblings('.change-content').hide();
	});
</script>